<div class="modal fade" id="avtar">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Already want to leave?</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                It is sad to see you go. Please Press Logout to leave.
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Stay Here
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Logout
                </button>
            </div>
        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../owl/owl.carousel.min.js "></script>
<!--owl js-->
<script src="../owl/owl.js "></script>
</body>
</html>
